.column {
  padding: 5px;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  border: 1px solid #ddd;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  h3 {
    margin: 0;
    font-weight: bold;
  }

  button {
    border: unset;
    outline: unset;
  }
}

.column-body {
  position: relative;
}

.column-body-btn {
  position: absolute;
  bottom: 5px;
  background-color: transparent;
  left: 50%;
  transform: translateX(-50%);
  color: #5e6c84;
  outline: unset;
  border: unset;
  box-shadow: unset;
  transition: 0.3s;
  &:hover {
    background-color: rgba(9, 30, 66, 0.08);
    color: #172b4d;
    transition: 0.3s;
  }
}
