.column {
  padding: 5px;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  border: 1px solid #ddd;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  h3 {
    margin: 0;
    font-weight: bold;
  }

  button {
    border: unset;
    outline: unset;
  }
}
