.section-wrapper {
  margin-bottom: 10px;
  width: 100%;
  &:last-child {
    margin-bottom: 0px;
  }

  &-icon {
    font-size: 20px;
  }

  &-title {
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #172b4d;
    max-width: calc(100% - 50px);
  }

  &-children {
    margin-left: 30px;
    &-inline {
      margin-left: 10px;
    }
  }
}
